/* 
	Disclaimer 	: there's no bug in this code, there's only feature !important 
	@author		: Harnindyto Wicaksana,
	contact		: todi.to;
*/

/* =============================================================== */
/* Navbar */
/* =============================================================== */

/* Add a black background color to the top navigation */
navbar{
  position	: fixed;
  overflow-x: hidden;
  overflow-y: visible;
  display	: block;
  top		: 0;
}
.circle{
  position			: relative;
  border-radius		: 100%;
  overflow-y		: visible;
  background-color	: grey;
  width				: 40px;
  height			: 40px;
  text-align		: center;
    -webkit-animation					: colorchange 3s infinite;
    -webkit-animation-name				: colorchange;  
    -webkit-animation-iteration-count	: infinite;  
    -webkit-animation-duration			: 3s; 
}  

@-webkit-keyframes colorchange {  
  0% { background-color		: grey; }
  25% { background-color	: #bbbbbb; }
  50% { background-color	: #e2e2e2; }
  75% { background-color	: #afafaf; }
  100% { background-color	: #6e6e6e; }

}
/* =============================================================== */
/* general */
/* =============================================================== */
/* smooth scroll */
html {
  scroll-behavior: smooth;
}
/* make each div a browser's height */
.fit-window{
  height	: 100vh;
  width		: 100vw;
  overflow-x: hidden;
}
/* unexpected horizontal bar handler */
/* Photo by Lars Kuczynski on Unsplash */
body {
  overflow-x			: hidden;
  background-image		: url('/static/jp/sky-min.jpg');
    /* Full height */
  height				: 100%;

  /* Center and scale the image nicely */
  background-position	: center;
  background-repeat		: no-repeat;
  background-size		: cover;
}
/* =============================================================== */
/* photo and desc */
/* =============================================================== */
.top-container{
	overflow 	: auto;
	width		: 100%;
	height		: 100%;
	display		: inline-block; 
	clear		: left;
}
.left-section{
	float 				: left;
	width 				: 50%;
	text-align			: center;
    position			: absolute;
    top					: 50%;
    left				: 25%;
    -moz-transform		: translateX(-50%) translateY(-50%);
    -webkit-transform	: translateX(-50%) translateY(-50%);
    transform			: translateX(-50%) translateY(-50%);
	
}

.left-section a{
	color			: inherit;
	text-decoration	: none;
}

.left-section a:hover{
	color			: inherit;
	text-decoration	: none;	
}

.inner{
	margin 				: 0% 15%;
	background-color	: rgba(255,255,255,0.7) ;
}

.right-section{
	float 		: right;
	width 		: 50%;
	max-width 	: 100%;
	min-width 	: 50%;
	overflow-x	: hidden;
}


/* =============================================================== */
/* Slide show container*/
/* =============================================================== */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width	: 500px;
  position	: relative;
  margin	: auto;
  width		: 100%;
  height	: 100%;
}

.shade{
  background-color	: rgba(255,255,255,0.4);
}
/* Hide the images by default */
.mySlides {
  display	: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor			: pointer;
  position			: absolute;
  top				: 50%;
  width				: auto;
  margin-top		: -22px;
  padding			: 16px;
  font-weight		: bold;
  font-size			: 18px;
  transition		: 0.6s ease;
  border-radius		: 0 3px 3px 0;
  user-select		: none;
}

/* Position the "next button" to the right */
.next {
  right			: 0;
  border-radius	: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color	: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color		: #f2f2f2;
  font-size	: 15px;
  padding	: 8px 12px;
  position	: absolute;
  bottom	: 8px;
  width		: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color		: #f2f2f2;
  font-size	: 12px;
  padding	: 8px 12px;
  position	: absolute;
  top		: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor			: pointer;
  height			: 15px;
  width				: 15px;
  margin			: 0 2px;
  background-color	: #bbb;
  border-radius		: 50%;
  display			: inline-block;
  transition		: background-color 0.6s ease;
}

/* Fading animation */
.fade {
  -webkit-animation-name	: fade;
  -webkit-animation-duration: 5s;
  animation-name			: fade;
  animation-duration		: 5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* carousel items */
.rows ul {
  list-style-type	: none;
  padding-top		: 50%;
  -ms-transform		: translateY(-50%);
  transform			: translateY(-50%);
}

.rows li{
  margin 	: 20px 0;
}

.column {
  float			: left;
  text-align	: center;
}

.column-4{
  width			: 25%;
}

.column-3{
  width			: 33.3%;
}

.column-2{
  width			: 50%;
}

.carousel-item h1{
  text-align	: center;
  font-size		: 60px;
  padding-top	: 5%;
}

.carousel-item p{
  text-align	: center;
  font-size		: 100px;
  margin-top	: 17%;
  -ms-transform	: translateY(-50%);
  transform		: translateY(-50%);
  position		: relative;
}  


.carousel-image{
  padding-top	: 25%;
  width			: 75%;
}

/* Clear floats after the columns */
.row:after {
  content	: "";
  display	: table;
  clear		: both;
}
/* =============================================================== */
/* Contact container*/
/* =============================================================== */

.contact-container{
  width 		: 100vw;
}
.contact-header{
  padding-top	: 7% ;
  display		: table;
  margin		: 0 auto;
}

.left-image{
  display	: inline-block;
}

.right-text{
  display	: inline-block;
}

.contact-info{
  top	: 15%;
  height: 50%;
}

.contact-info img{
  width : 50%;
}

.contact-left{
  float	: left;
}
.contact-center{
  display		: inline-table;
  text-align	: center;
  padding-top	: 10%;
}

.contact-right{
  float	: right;
}

#linkedin{
  padding-top	: 70%;
}

#line{
  padding-top	: 70%;
}

#github{
}

#instagram{
}