/* make a tab*/
.tab{
  position	: relative;
  left		: 40px;
}

body{
  background			: #8cfffb;
  background-image		: url("bg-water.png") ;
  background-repeat		: no-repeat;
  background-size		: cover;
  height				: 100%;
  width					: 100%;
}

/* Add a black background color to the top navigation */
.topnav {
  background-color	: #03D4FF;
  overflow			: hidden;
  position			: fixed;
  top				: 0;
  width 			: 100%;
  margin			: 0 auto;
  display			: block;
}

/* Style the links inside the navigation bar */
.topnav a {
  float				: left;
  color				: #f2f2f2;
  text-align		: center;
  padding			: 3px 0;
  text-decoration	: none;
  font-size			: 17px;
  width 			: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color	: #ddd;
  color				: black;
}

.resize{
  width		: 40px;
  height	: 40px;
  margin 	: auto;
  
}

.active a{
  color				: black;
  text-align		: center;
  background-color	: #8cfffb;
}

/* Navigation list */
.nav ul{
  display 			: inline-block;
  list-style-type	: none;
  text-align		: center;
}
.nav li{
  list-style-type	: none;
  display			: inline-block;
}

.nav li.center{
  float		: none;
  text-align: center;
  margin	: 0 auto;
  width		: 30%;
}

.active {
  background-color	: #4CAF50;
  color				: white;
}

/* main-content (short story and desc)*/
.main-container{
  margin			: auto ;
  width 			: 80%;
  float				: center;
  padding-top		: 7%;
}

.main-content{
  border-style  	: double;
  border-width  	: 4px;
  background		: white;
  display			: table;
  width				: 80%;
  float				: center;
  margin			: auto;
  border-radius		: 30px;
  padding-bottom	: 20px;
}

.top-desc{
  font-size			: 31px;
  line-height		: 1.6;
  font-style		: italic;
  padding-bottom	: 20px;
}
.desc{
  text-align	: center;
}

.chart-container{
  text-align		: center;
  background-color	: white;
  width				: 80%;
  float				: center;
  margin			: 5% auto;
  border-radius		: 30px;
  padding-bottom	: 20px;
  border-style  	: double;
  border-width  	: 4px;
}
.chart{
  width 	: 80%;
  margin	: auto;
}