/* make a tab*/
.tab{
  position	: relative;
  left		: 40px;
}

main{
  background-color	: #EAEAE3;
  background: -webkit-linear-gradient(#cfcfbe, #FFFFF1);
  background:    -moz-linear-gradient(#cfcfbe, #FFFFF1);
  background:         linear-gradient(#cfcfbe, #FFFFF1);
}

/* Add a black background color to the top navigation */
.topnav {
  background-image	: url("wood.png") ;
  background-size	: 100%;
  overflow			: hidden;
  position			: fixed;
  top				: 0;
  width 			: 100%;
  margin			: 0 auto;
  display			: block;
}

/* Style the links inside the navigation bar */
.topnav a {
  float				: left;
  color				: #f2f2f2;
  text-align		: center;
  padding			: 3px 0;
  text-decoration	: none;
  font-size			: 17px;
  width 			: 100%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color	: #ddd;
  color				: black;
  width				: 100%;
  padding			: 3px ;
}

/* Navigation list */
.nav ul{
  display 			: inline-block;
  list-style-type	: none;
  text-align		: center;
}
.nav li{
  list-style-type	: none;
  display			: inline-block;
}

.nav li.center{
  float		: none;
  text-align: center;
  margin	: 0;
  width		: 30%;
}

/*name and image*/
#home{
  border		: auto;
  min-width		: 600px;
  width			: 100%;
  clear			: both;
  overflow		: auto; 
  overflow		: hidden;
}

/* make it float left*/
.section-left{
  float			: left;
  text-align	: left;
  vertical-align: middle;
  width 		: 60%;
  height 		: auto;
  padding		: 15% 0% 0% 0%;
  min-width		: 550px;
}

.section-left h3{
  font-family	: verdana;
}

/* make it float right*/
.section-right{
  float		: right;
  width		: 40%;
  height 	: auto;
  min-width	: 550px;
}

.active a{
  /*background-color	: #73e7ff;*/
  color			: black;
  text-align	: center;
}

img.resize{
  width		: 70px;
  height	: 40px;
  position	: relative;
}

/*name*/
#name {
  text-align: center;
}

#name h1{
  font-family	: cursive;
  font-size		: 40px;
  position		: relative;
  /*Change color over time*/
  -webkit-animation:colorchange 30s infinite
}@-webkit-keyframes colorchange {
      0%   {color: #0C88FC;
	  }10% {color: #5D00FF;
	  }20% {color: #FF00A1;
      }30% {color: #FC0C84;
      }40% {color: #FC3C0C;
      }50% {color: #FCFC0C;
      }60% {color: #7FFF32;
      }70% {color: #32FF84;
      }80% {color: #0CFCA0;
      }90% {color: #0CF4FC;
      }100%{color: #0C88FC;
	  }
}

/* main-content (short story and desc)*/
.main-container{
  padding			: 2%;
}

.scroll{
  background-image	: url("scroll1.png") ;
  margin			: auto;
  float				: center;
  background-repeat	: no-repeat;
  background-size	: 100% 100%;
}

.main-content{
  display			: table;
  float				: center;
  margin			: auto;
  width				: 80%;
}

/* short story in main-content*/
article.left-article {
  width 	: 40%;
  text-align: justify;
  float		: left;
  display	: table-cell;
  padding 	: 0% 0% 0% 6%;
}

/* desc in main-content*/
article.right-article{
  width			: 40%;
  float			: right;
  height		: 90%;
  padding		: 8% 6% 0% 0% ;
  font-family 	: serif;
  font-style  	: italic;
  
}

/* big quote symbol in short story*/
blockquote{
  font-family 	: Georgia, serif;
  font-size   	: 20px;
  font-style  	: italic;
  width		  	: auto;
  position    	: relative;
  color		  	: #383838;
  padding-bottom: 10%;
  line-height	: 1.65;
}

blockquote:before {
  display		: block;
  content		: "\201C";
  font-size		: 90px;
  position		: relative;
  color			: #7a7a7a;
  bottom		: -50px;
}

/* citing in short story*/
blockquote cite {
  color			: #999999;
  font-size		: 14px;
  display		: block;
  margin-top	: 5px;
  text-align	: right;
}
 
blockquote cite:before {
  content	: "\2014 \2009";
}

/* desc */
.desc{
  list-style	: none;
}

.height-li{
  height		: 30px;
}

/* make anchor invisible*/
a.invisible{
  text-decoration : none;
  color			  : black;
  display		  : block;
  width			  : 25%;
}

/* my contact*/
.contact{
  border-style : solid hidden;
  border-width : 2px;
}