<!DOCTYPE html>

{% extends "super.html" %}
{% load static %}

<!--Disclaimer	: there's no bug in this code, there's only feature 
	@author		: Harnindyto wicaksana, 
	contact		: todi.to;-->



<html>
<!--
  <head class="heading" >
    <link rel="stylesheet" type="text/css" href="story3.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="bootstrap./bootstrap-4.3.1-dist./bootstrap-4.3.1-dist./css./bootstrap.css">
  
	<title>Know Todi</title>
	<link rel="icon" href="../icon/love.png"/>
  </head>
  -->
  
  <!--
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
	  <a class="navbar-brand circle" href="/home/" >𝕯</a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	</nav>
	-->
	{% block main %}
	
	<div class="fit-window">
	
	</div>
	
	<div class="fit-window">
	 <div class="inner" style="text-align:center;">
		<a href="/" style="color:orange;">
		  <h2>Congratulation, You just found an easter egg</h2>
		</a>
		Actually, this page is under construction
		<br>
		Have a nice day
	  </div>
	</div>
	
  <!--
  <script src="bootstrap/bootstrap-4.3.1-dist/bootstrap-4.3.1-dist/jquery/jquery.min.js"></script>
  <script src="bootstrap/bootstrap-4.3.1-dist/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>
  <script>
    $("#carousel").carousel();
  </script>
  <script src="story3.js"></script>
  -->
  {% endblock %}
</html>