<!DOCTYPE html>

{% extends "super.html" %}
{% load static %}

<!--Disclaimer	: there's no bug in this code, there's only feature 
	@author		: Harnindyto wicaksana, 
	contact		: todi.to;-->

<html>

	{% block main %}
	<div class="fit-window top-container" id = "home">
	  
	  <section class="left-section ">
	    <a href="/home/2">
	      <h1 class="hi"> Hi There!</h1>
		  <h2>I'm Harnindyto W.</h2>
		  <h3>A Junior Web Designer</h3>
		</a>
	  </section>
	  <section class="right-section" style="height:100vh;">
		<img src="{% static 'jp/me.png' %}" alt="just me">
	  </section>
	</div>
	
	
	<div id="carousel" class="carousel slide fit-window shade" data-ride="carousel">
	<div id ="about"></div>
	  <ol class="carousel-indicators">
		<li data-target="#carousel" data-slide-to="0" class="active"></li>
		<li data-target="#carousel" data-slide-to="1"></li>
		<li data-target="#carousel" data-slide-to="2"></li>
	  </ol>
	  <div class="carousel-inner">
		<div class="carousel-item active">
			<h1>Bio</h1>
			<div class="rows">
			  <div class="column column-2">
				<ul>
				  <li>
					<h3>Harnindyto Wicaksana</h3>
				  </li>
				  <li>
					<h3>19 Years Old</h3>
				  </li>
				  <li>
					<h3>Interested in data scientist</h3>
				  </li>
				</ul>
			  </div>
			  <div class="column column-2">
				<ul>
				  <li>
					<h3>System Information</h3>
				  </li>
				  <li>
					<h3>University of Indonesia</h3>
				  </li>
				</ul>
			  </div>
			  <div class="column column-2">
			  </div>
			</div>
		</div>
		<div class="carousel-item">
			<h1>ꜱᴋɪʟʟꜱ</h1>
			<div class="rows">
			  <div class="column column-4"><img class="carousel-image"src="{% static 'jp/java.svg.png' %}" alt="java"></div>
			  <div class="column column-4"><img class="carousel-image"src="{% static 'jp/python.svg.png' %}" alt="python"></div>
			  <div class="column column-4"><img class="carousel-image"src="{% static 'jp/html.svg.png' %}" alt="html"></div>
			  <div class="column column-4"><img class="carousel-image"src="{% static 'jp/css.svg.png' %}" alt="css"></div>
			</div>
		</div>
		
		<div class="carousel-item">
		  <h1>ᴇxᴘᴇʀɪᴇɴᴄᴇ</h1>
		  <p>-𝕔𝕠𝕞𝕚𝕟𝕘 𝕤𝕠𝕠𝕟-<p>
		</div>
	  
	  </div>
	  
	  <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev"  >
		<span class="carousel-control-prev-icon" aria-hidden="true"></span>
		<span class="sr-only">Previous</span>
	  </a>
	  <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
		<span class="carousel-control-next-icon" aria-hidden="true"></span>
		<span class="sr-only">Next</span>
	  </a>
	</div>
	
	<div class="contact-container fit-window" id = "contact">
		<div class="contact-header">
		  <div class="left-image">
			<image src="{% static 'jp/contact.png' %}">
		  </div>
		  <div class="right-text">
			<h1>Get in Touch</h1>
		  </div>
		</div>
		
		<div class="contact-info">
		  <div class="column-3 contact-left">
			<div class="column column-2" id="linkedin">
			  <marquee scrollamount="2" height="200px"direction="up"  behavior="alternate">	
				<marquee behavior="alternate" direction="up">
				  <a href="https://www.linkedin.com/in/harnindyto-wicaksana-763151109/"target="_blank">
					<img src="{% static 'jp/linkedin1.png' %}">
				  </a>
				</marquee>
			  </marquee>
			</div>
			<div class="column column-2" id="github">
			  <marquee scrollamount="2" height="240px"direction="down"  behavior="alternate">	
				<marquee behavior="alternate" direction="down">
				  <a href="https://github.com/Raygue" target="_blank">
					<img src="{% static 'jp/github.png' %}">
				  </a>
				</marquee>
			  </marquee>
			</div>
		  </div>

		  <div class="contact-center column-3" id="gmail">
			<img src="{% static 'jp/gmail.png' %}" alt="gmail">	
			<h5>3tambah3itu6@gmail.com</h5>
		  </div>
		  
		  <div class="contact-right column-3">
		    <div class="column column-2" id="instagram">
			  <marquee scrollamount="2" height="250px"direction="down"  behavior="alternate">	
				<marquee behavior="alternate" direction="down">
				  <a href="https://www.instagram.com/todi.to/" target="_blank" >
					<img src="{% static 'jp/instagram.png' %}">
				  </a>
				</marquee>
			  </marquee>
			</div>
			<div class="column column-2" id="line">
			  <marquee scrollamount="2" height="190px"direction="up"  behavior="alternate">	
				<marquee behavior="alternate" direction="up">
				  <a href="http://line.me/D" target="_blank">
					<img src="{% static 'jp/line.svg.png' %}">
				  </a>
				</marquee>
			  </marquee>
			  
			</div>
		  </div>
		  
		</div>
	</div>
	</body>
  <script src="{% static 'bootstrap/bootstrap-4.3.1-dist/bootstrap-4.3.1-dist/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bootstrap/bootstrap-4.3.1-dist/bootstrap-4.3.1-dist/js/bootstrap.min.js' %}"></script>
  <script>
    $("#carousel").carousel();
  </script>
  <script src="{% static 'story3.js' %}"></script>
  {% endblock %}
</html>