<!DOCTYPE html>

{% extends "super.html" %}
{% load static %}

<!--Disclaimer	: there's no bug in this code, there's only feature 
	@author		: Harnindyto wicaksana, 
	contact		: todi.to;-->



<html>

  
  
	{% block main %}
	
	<div class="fit-window">
	
	
	
	  <div class ="login_input">
		<form action="/" method="POST">
			
			{% csrf_token %}
			{{ form }}
		
			<button type = "submit" class="btn btn-primary">submit</button>
		
		</form>
	  <!--
		<form>
		  <div class="form-group">
			<label for="usernameinput">Username</label>
			<input type="text" class="form-control" placeholder="Enter username">
		  </div>
		  
		  <div class="form-group">
			<label for="emailinput">Email</label>
			<input type="email" class="form-control" placeholder="Enter email">
		  </div>
		  	
		  <div class="form-group">
			<label for="passwordinput">Password</label>
			<input type="password" class="form-control" placeholder="Enter password">
		  </div>
		  	
		  <div class="form-group">
			<input type="checkbox" class="form-check-input">
			<label class="form-check-label" for="termagree">I agree to term and condition</input>
		  </div>
		  
		  <button type="submit" class="btn btn-primary">Submit</button>
		  
		</form>
		-->
	  </div>
	
	</div>
	
	
	
	
	
	<div class="fit-window">
	  <div class="inner" style="text-align:center;">
		<a href="/" style="color:orange;">
		  <h2>Congratulation, You just found another random easter egg</h2>
		</a>
		Actually, this page is under construction
		<br>
		Have a nice day
	  </div>
	</div>
	
  {% endblock %}
</html>