<!DOCTYPE html>

{% extends "super.html" %}
{% load static %}

<!--Disclaimer	: there's no bug in this code, there's only feature 
	@author		: Harnindyto wicaksana, 
	contact		: todi.to;-->



<html>

  
  
	{% block main %}
	<!--
	<div class="fit-window">
	  
	  <div class ="form_area">
		<form class=""d-flex flex-column my-2 w-75" method="POST">
		  {% csrf_token %}
		  {% for i in form %}
			<p class="w-100 justify-content-center my-1">{{ field.label }}: <br> {{ field }}</p>
			<p></p>
		  {% endfor %}
			<button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2">Submit</button>
		</form>
	  </div>

	  <div id="schedule">
	    {% for i in schedules %}
		  <div id="schedule_view">
		    <div>
			<p>desc : {{ i.desc }}</p>
			</div>
		    <div>
			<p>date : {{ i.date }}</p>
			</div>
		    <div>
			<p>time : {{ i.time }}</p>i
			</div>
			<form method="POST" action="{% url 'schedule' %}">
			  {% csrf_token %}
			  <input name="id" value="{{i.id}}" type="hidden">
			  <button type="submit" value="Submit" class="btn btn-primary mx-auto mt-2" style="font-size: 0.8rem;">Delete</button>
			</form>

		  </div>
		{% endfor %}
	  </div>
	</div>
	-->
	
	<form action = "/Schedule" method="POST">
	  {% csrf_token %}
	    {{ form.as_p }}
		<button action='' type="submit" method="POST">SUBMIT</button>
	</form>
	
	
	<div class="fit-window">
	  {% for j in schedules %}
            <div class="jadwal-card">
				<span> {{ j.date }} </span>
				<span> {{ j.time }} </span>
                <h2><span>{{ j.Desc }}</span> - {{ j.nama }}</h2>
                <div class="flex">
                    <div>
                        <h4>di {{ j.tempat }}</h4>
                        <p></p>
                    </div>
                    <form action="delete" method="POST" >
                        {% csrf_token %}
                        <input type="hidden" value="{{ j.id }}" name="id" />
                        <input class="button delete" type="submit" value="Delete" />
                    </form>
                </div>
            </div>
        {% endfor %}
	</div>
	
  {% endblock %}
</html>