<!DOCTYPE html>

{% extends "super.html" %}
{% load static %}

<!--Disclaimer	: there's no bug in this code, there's only feature 
	@author		: Harnindyto wicaksana, 
	contact		: todi.to;-->



<html>

  
  
	{% block main %}
	
	
	<div class="container">
        <h1>Jadwal Ku</h1>
        <div class="flex">
            <p>Today - {{ server_time }}</p>
            <a href="create">
                <button class="button">Create Jadwal</button>
            </a>
        </div>
            
        {% for j in jadwal %}
            <div class="jadwal-card">
                <h2><span>{{ j.Desc }}</span> - {{ j.nama }}</h2>
                <div class="flex">
                    <div>
                        <h4>di {{ j.tempat }}</h4>
                        <p></p>
                    </div>
                    <form action="delete" method="POST" >
                        {% csrf_token %}
                        <input type="hidden" value="{{ j.id }}" name="id" />
                        <input class="button delete" type="submit" value="Delete" />
                    </form>
                </div>
            </div>
        {% endfor %}


    </div>

	
	
	<div class="fit-window">
	  <div class="inner" style="text-align:center;">
		<a href="/" style="color:orange;">
		  <h2>Congratulation, You just found another easter egg</h2>
		</a>
		Actually, this page is under construction
		<br>
		Have a nice day
	  </div>
	</div>
	
  {% endblock %}
</html>