<!DOCTYPE html>

{% extends "super.html" %}
{% load static %}

<!--Disclaimer	: there's no bug in this code, there's only feature 
	@author		: Harnindyto wicaksana, 
	contact		: todi.to;-->



<html>

  
  
	{% block main %}
	
	<div class="fit-window">
	
	
	
	  <div class ="form_area">
		<form>
		</form>
	  </div>
	
	</div>
	
	
	
	
	
	<div class="fit-window">
	  <div class="inner" style="text-align:center;">
		<a href="/" style="color:orange;">
		  <h2>Congratulation, You just found another easter egg</h2>
		</a>
		Actually, this page is under construction
		<br>
		Have a nice day
	  </div>
	</div>
	
  {% endblock %}
</html>